- name: 2. Find Database Table Name
        run: |
          DB_FILE="news_articles.db" 
          
          echo "Querying database schema to find table name..."
          
          # This command lists all tables in the database
          TABLE_NAMES=$(sqlite3 "$DB_FILE" ".tables")
          
          echo "Found tables in $DB_FILE:"
          echo "$TABLE_NAMES"
          
          # You should see the name of your articles table printed in the log.
          # For example, if it prints: news_items
          # The correct table name is news_items
          
          # We'll exit now so you can check the logs
          exit 0
